<div class="container-md mt-5">
    <div class="row mx-auto">
        <div class="col-md-3">
        </div>
        <div class="col-md-5 comp-div">
            <h3 class="comp-header">Giris ekrani</h3>
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-group ">
                <div class="mt-4">
                    <input type="text" id="email" name="email" formControlName="email"
                        class="form-control comp-form-control" placeholder="Email adresi">
                    <div class="alert alert-warning"
                        *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').dirty">Email
                        girmeniz zorunludur</div>
                </div>

                <div class="mt-4">
                    <input type="password" id="password" name="password" formControlName="password"
                        class="form-control comp-form-control" placeholder="Sifreniz">
                    <div class="alert alert-warning"
                        *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').dirty">
                        Sifre girmeniz zorunludur</div>
                </div>
                <button type="submit" class="btn btn-warning mt-3" [disabled]="loginForm.invalid">Giris yap</button>
            </form>

            <div class="col-md-4">
            </div>
        </div>
    </div>