.comp-div{
    background-color: #415161;
    padding: .8rem;
    border-radius: 10px;
}

.comp-header{
    background-color: #f5ab35;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color : white;
    height: 4rem;
}

.comp-form-control{
    height: 3rem;
}

.comp-form-control:hover{
    height: 3rem;
    font-size: large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}