<div style="padding:3rem">
  <table class="table table-striped mt-3" style="border: 1px solid black;">
    <thead>
      <tr class="text-center">
        <th>Karar No</th>
        <th>Talep No</th>
        <th>Karar</th>
        <th>Tarih</th>
        <th>Aciklama</th>
    </thead>
    <tbody>
            <tr *ngFor="let decisions of decisions" class="text-center">    
                <td >{{decisions.id}}</td>
                <td>{{decisions.demandId}}</td>
                <ng-template #notApproved>
                  <td>&#10006;</td>
                </ng-template>
                <td *ngIf="decisions.isApproved === true; else notApproved">&#10003;</td>
                <td>{{decisions.decisionTime | date : 'medium'}}</td>
                <td>{{decisions.description}}</td>
              </tr>
    </tbody>
  </table>
</div>
