<div class="container-md mt-5">
  <div class="row mx-auto">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 comp-div">
      <h3 class="comp-header">Kullanici kayit ekrani</h3>
      <form [formGroup]="registerUserForm" (ngSubmit)="registerUser()" class="form-group ">
        <div class="mt-4">
          <input type="text" id="email" name="email" formControlName="email" class="form-control comp-form-control"
            placeholder="Email adresi">
          <div class="alert alert-warning"
            *ngIf="registerUserForm.get('email').hasError('required') && registerUserForm.get('email').dirty">Email
            girmeniz zorunludur</div>
          <div class="alert alert-warning" *ngIf="registerUserForm.get('email').hasError('email') && registerUserForm.get('email').dirty">Lütfen gecerli bir
            email adresi girin</div>
        </div>

        <div class="mt-4">
          <input type="password" id="password" name="password" formControlName="password"
            class="form-control comp-form-control" placeholder="Sifreniz">
          <div class="alert alert-warning"
            *ngIf="registerUserForm.get('password').hasError('required') && registerUserForm.get('password').dirty">
            Sifre belirlemek zorunludur</div>
        </div>

        <div class="mt-4">
          <input type="text" id="name" name="name" formControlName="name" class="form-control comp-form-control"
            placeholder="Adiniz">
          <div class="alert alert-warning"
            *ngIf="registerUserForm.get('name').hasError('required') && registerUserForm.get('name').dirty">
            Isim bilgisi zorunludur</div>
        </div>

        <div class="mt-4">
          <input type="text" id="surname" name="surname" formControlName="surname"
            class="form-control comp-form-control" placeholder="Soyadiniz">
          <div class="alert alert-warning"
            *ngIf="registerUserForm.get('surname').hasError('required') && registerUserForm.get('surname').dirty">
            Soyisim bilgisi zorunludur</div>
        </div>

        <div class="mt-4">
          <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber"
            class="form-control comp-form-control" placeholder="Telefon numaraniz">
          <div class="alert alert-warning"
            *ngIf="registerUserForm.get('phoneNumber').hasError('required') && registerUserForm.get('phoneNumber').dirty">
            Telefon numarasi zorunludur</div>
            <div class="alert alert-warning"
            *ngIf="registerUserForm.get('phoneNumber').hasError('pattern') && registerUserForm.get('phoneNumber').touched">
            Lütfen gecerli bir telefon numarasi girin</div>
        </div>

        <button type="submit" class="btn btn-warning mt-3" [disabled]="registerUserForm.invalid">Kayit ol</button>
      </form>
      <div class="col-md-4">
      </div>
    </div>
  </div>